.landing {
  background-image: url("../images/pizza3.jpg");
  background-repeat: no-repeat;
  padding: 500px;
  background-size: cover;
}
.logo1 {
  float: left;
  margin-left: -350px;
  margin-top: -450px;
}
.phrases1 {
  color:white;
  margin-top: -400px;
}
.headerfirst {
  color:maroon;
  font-size: 100px;
  font-weight: bold;
}
.headingsecond {
  color:cornflowerblue;
  font-weight: bold;
}
.headingtender{
  color: white;
  font-weight: bold;
}
.info {
  background-image: url("../images/infopizza3.jpg");
  background-repeat: no-repeat;
  padding: 300px;
  background-size: cover;
  color: white;
}
.moreinfo {
  background-image: url("../images/money2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px;
}
.navbar {
  background-color: black;
}
.contactlanding {
  background-image: url("../images/pizza10.jpg");
  background-repeat: no-repeat;
  padding: 500px;
  background-size: cover
}
.phrases2 {
  text-align: center;
  color:white;
  margin-top: -400px;
  margin-left: -300px;
}
.orderlanding {
  background-image: url("../images/infopizza5.jpg");
  background-repeat: no-repeat;
  padding: 500px;
  background-size: cover;
}
.phrases3 {
  text-align: center;
  color: dodgerblue;
  margin-top: -500px;
}
